@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#container_A{
	width:100%;
    margin: 0;
}
header{
    width: 100%;
	background:#fffaf7;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 4px black;
}
.header{
    display: inline;
}
#logo{
    width: 220px;
}
#kategorie{
    float: right;
    margin-top:15px;
}
#kategorie>ul>li{
    margin: 18px 30px 18px 18px;;
    float: left;
    list-style: none;
    text-decoration:none;
}
#kategorie>ul>li>a:hover{
	color:#F37321
}
#kategorie>ul>li>a{
	font-family: 'GmarketSansMedium';
    text-decoration: none;
    color:gray;
}

.dropbtn {
	margin-top: 19px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	background-color: transparent;
}
.dropdown:hover{
	color:#F37321
}
.dropdown {
	font-family: 'GmarketSansMedium';
    position: relative;
    display: inline-block;
    margin-right: 20px;
    color:gray;
}
.dropdown>button:hover{
	color:#F37321
}
.dropdown>button{
	color:gray;	
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color:#082032;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f7c7a8}

.show {display:block;}
