header, footer{
		display:none;
	}
	body{
		overflow:hidden; 
		width:550px;
		height:800px;
		margin: 0 auto;
	}
	table{
		margin:0 auto;
	}
	.sendSms_table1{
		width:322px;
		margin:0;
	}
	.sendSms_table2{
		width:100%;
		display:flex;
		margin: 10px 0 0 11px;
		justify-content: center;
	}
	.sendSms_table2>tbody{
		margin-left:4px;
	}
	.sendSms_container{
		width:500px;
		margin:0 auto;
		margin-top:10px;
	}
	h1{
		margin:0;
	}
	.sms_h1{
		font-family: 'GmarketSansMedium';
		text-align:center;
		padding:10px;
		margin:40px 0 20px 0;
	}
	#getn{
		background-color: rgb(8, 32, 50);
	    border: 1px solid gray;
	    color: white;
	}
	#getn2{
		display:flex;
		justify-content: center;
		background-color: rgb(8, 32, 50);
	    border: 1px solid gray;
	    color: white;
	    padding:6px;
	    width:54px;
	    margin-left:3px;
	}
	.sms_font{
		font-family: 'GmarketSansMedium';
		font-size: 20px;
		float:right;
		margin-right:10px;
		margin-top: 4px;
	}
	
	.sendSms_form{
		display:flex;
		text-align:center;
		height:34px;
		justify-content: center;
	}
	tr{
		display:flex;
	}
	.input_box_sms{
		display: inline-block;
	    height: 34px;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	}
	#setn:focus{
		border-color:#0982f0;
	}
	img{
		width:90%;
		display:block;
		margin:auto;
		margin-bottom:40px;
	}
